* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.logo {
    padding-left: 120px;
}

#head-logo {
    width: 130px;
}

/* #head-logo:hover {
    transform: scale(1.1);
} */

/* Navigation Menu Styling */
.nav-options {
    width: 63vw;
    display: flex;
    gap: 30px;
    justify-content: end;
    align-items:start;
}

.nav-options a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    color: black;
    font-weight: 500;
    white-space: nowrap;
    padding: 5px 5px;
    transition: all 0.3s ease;
}

.nav-options a:hover {
    color: #32a852;
}

/* Dropdown Styling */
.dropdown {
    position: relative; /* Required for positioning the dropdown menu */
}
.dropdown a{
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f3f5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-menu li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #32a852;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu,.dropdown:active .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);

}

.dropdown:not(:hover) .dropdown-menu,.dropdown:active .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
}

/* Login Button Styling */
.login {
    flex: 1;
    padding-left: 45px;
    display: flex;
    justify-content: start;
}

.login-button {
    width: 120px;
    padding: 8px 15px;
    background-color: #4DA167;
    color: white;
    font-size: 14px;
    border: 2px solid #4DA167;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: white;
    color: #32a852;
    border: 2px solid #32a852;
}
.login-button a{
    color: inherit;
    text-decoration: none;
}
.login-button:visited{
    color: inherit;
}


.body{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    height: 70vh;
}

.main-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-overlay {
    position: absolute; /* Positions the overlay over the image */
    bottom: 0; /* Moves the overlay to the bottom of the container */
    left: 0; /* Aligns the overlay to the left */
    width: 100%;
    padding-bottom: 35px;
    padding-left: 140px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    font-family: "nunito sans";
    font-size: 30px;
    text-align: left;
}

.solutions {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.solutions-head {
    align-self: center;
    padding-bottom: 45px;
    font-family: "Blinker",sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}

.solutions-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    width: 25vw;
    height: 50vh;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f3f3f3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
}

.card-front {
    flex-direction: column;
}
.card-front p{
    font-family: "inter",sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #6abaaf;
}
.card-front img {
    width: 50%;
}

.card-back {
    transform: rotateY(180deg);
    padding: 20px;
}
.card-back p{
    font-family:"Inter",sans-serif;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 30px;
    padding-top: 10px;
    color: #466876;
    text-align: center;
}

.impact{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.impact-head{
    align-self: center;
    padding-bottom: 45px;
    font-family: "Blinker",sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}
.impact-banner {
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.impact-banner h1{
    font-family:"inter",sans-serif;
}
.impact-banner h3{
    color: #6abaaf;
    font-family:"Nunito sans",sans-serif;
}
.impact-banner p{
    font-family:"Inter",sans-serif;
    font-weight: 350;
    word-spacing: 1px;
    padding-top: 10px;
    text-align: center;
    height: 9.6vh;
    width: 16.28vw;
    color:#466876 ;
}
.banner1,.banner2,.banner3,.banner4{
    padding-bottom: 50px;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner1,.banner2,.banner3{
    border-right:2px solid #f2f2f2;
}
.banner2,.banner3,.banner4{
    border-left: 2px solid #f2f2f2;
}


.feature{
    width: 95%;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.feature-head{
    align-self: center;
    padding-bottom: 15px;
    font-family: "Blinker",sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}
.f-poster{
    position: relative;

}
.feature img{
    width: 100%;
    height: 50vh;
    opacity: .8;
    border: 1px solid black;
}
.f-content-overlay{
    padding-top: 50px;
    padding-left: 20px;
    position: absolute;
    top:0;
}
.f-content-overlay a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.f-content-overlay h2{
    border-left: solid 4px red;
    color: white;
    font-family:"inter",sans-serif;
    font-size: 50px;
}
.f-content-overlay h2:visited{
    color: inherit;
}
.f-content-overlay p{
    color: white;
    font-family: "nunito sans",sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-right: 20px;
}
.f-content-overlay p:visited{
    color: inherit;
}
.f-content-overlay img{
    height: 50px;
    width: 50px;
    border: none;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: end;
}


.trusted{
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 82%;
}
.trust-header{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}
.t-blanksub1,.t-blanksub2{
    height: 50%;
}
.t-blanksub1{
    border-bottom: 2px solid black;
}
.trust-head h2{
    text-align: center;
    font-family: "Blinker",sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}
.trust-icons{
    padding-top: 20px;
    width: 90%;
    gap: 0px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    align-items: center;
}
.trust-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#trust1 img{
    height: 8vh;
}
#trust2 img{
    height: 11vh;
}
#trust3 img{
    height: 13vh;
}
#trust4 img{
    height: 13vh;
}
#trust5 img{
    height: 13vh;
}


footer{
    padding-top: 20px;
    padding-left: 70px;
    height: 35vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr .75fr 1fr .75fr;
    background-color: #e8ebe0;
}
.foot-logo{
    padding-top: 30px;
    height: 100%;
    display: flex;
    align-items: start  ;
    justify-content: center;
}
.foot-logo img{
    height: 20vh;
}

.fsection-2,.sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub{
    gap: 10px;
}
footer h3{
    font-family: "blinker",sans-serif;
    letter-spacing: 0.5px;
    color: #6abaaf;
}
footer p{
    color: black;
}
.fsection-2{
    font-family:"Inter",sans-serif;
}
.fsection-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.quick-p{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}
.quick-p a{
    text-decoration: none;
    color: inherit;
    font-family:"Inter",sans-serif;
}
.quick-p:visited{
    color: inherit;
}
.followus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social{
    display: flex;
    gap: 10px;
}
.social img{
    height: 4vh;
}
.quick a:visited{
    color: inherit;
    text-decoration: none;
}

.hide-header {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

@media (max-width:450px) {
    header{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        padding: 5px 10px;
        transition: all 0.3s ease;
    }
    .logo{
        padding-left:0px;
    }
    #head-logo{
        width: 60px;
    }
    .nav-options {
        width: 63vw;
        gap: 10px;
    }
    .nav-options a {
        font-size: 10px;
        padding: 5px 5px;
        transition: all 0.3s ease;
    }
    .dropdown-menu li a {
        font-size: 10px;
    }
    .login {
        padding-left: 5px;
    }
    .login-button {
        width: 60px;
        padding: 8px 15px;
        font-size: 10px;
        white-space: nowrap;
    }

    .body{
        padding-top: 20px;
    }
    .main-poster {
        margin-bottom: 0px;
        height: 40vh;
    }
    .content-overlay {
        padding-bottom: 10px;
        padding-left: 20px;
        font-size: 18px;
    }
    .solutions {
        width: 90%;
        padding-top:50px;
        padding-bottom: 0px;
    }
    .solutions-head {
        padding-bottom: 0px;
        font-size: 30px;
        letter-spacing: 3px;
    }
    .solutions-cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .card {
        width: 50vw;
        height: 25vh;
    }
    .card-front{
        padding-left: 10px;
    }
    .card-front p{
        font-size: 20px;
    }
    .card-front img {
        width: 30vw;
    }
    .card-back p{
        font-size: 10px;
        line-height: 20px;
    }
    .impact{
        padding-bottom:0px;
    }
    .impact-head{
        padding-bottom: 45px;
        font-size: 30px;
    }
    .impact-banner {
        padding-top: 25px;
        padding-bottom: 25px;
        flex-direction: column;
        gap: 10px;
    }
    .impact-banner h1{
        font-size: 20px;
    }
    .impact-banner h3{
        font-size: 15px;
    }
    .impact-banner p{
        font-size: 13px;
        height: 9.6vh;
        width: 70vw;
    }
    .banner1,.banner2,.banner3,.banner4{
        border: none;
        padding-bottom: 50px;
        gap: 10px;
    }
    .feature{
        width: 95%;
        padding-top:0px;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
        gap: 0px;
    }
    .feature-head{
        font-size: 30px;
        letter-spacing: 3px;
        padding-bottom: 50px;
    }
    .feature img{
        height: 40vh;
        object-fit: cover;
    }
    .f-content-overlay{
        padding-top: 15px;
        padding-left: 10px;
    }
    .f-content-overlay h2{
        border-left: solid 3px red;
        font-size: 18px;
    }
    .f-content-overlay p{
        font-size: 13px;
        padding-right: 10px;
    }
    .f-content-overlay img{
        height: 30px;
        width: 30px;
    }
    .trusted{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
    .trust-header{
        grid-template-columns: 0.2fr 1fr 3fr;
    }
    .trust-head h2{
        font-size: 15px;
        letter-spacing: 2px;
    }
    .trust-icons{
        gap: 5px;
    }
    #trust1 img{
        height: 3vh;
        width: 15vw;
    }
    #trust2 img{
        height: 5vh;
    }
    #trust3 img{
        padding-top: 5px;
        height: 7vh;
    }
    #trust4 img{
        height: 7vh;
    }
    #trust5 img{
        height: 7vh;
    }
    footer{
        padding: 10px;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 0fr ;
        gap:10px;
    }
    .foot-logo{
        padding-top: 0px;
        display: flex;
        justify-content: start;
    }
    .foot-logo img{
        height: 8vh;
    }
    .fsection-2,.sub{
        gap: 10px;
    }
    .sub{
        gap: 0px;
    }
    footer h3{
        font-size: 15px;
    }
    footer p{
        font-size: 12px;
    }
    .social img{
        height: 2vh;
    }
}
@media (max-width:380) {
    #head-logo{
        padding-right: px;
    }
    .f-content-overlay h2{
        border-left: solid 2px red;
        font-size: 0px;
    }
    .f-content-overlay p{
        font-size: 10px;
        padding-right: 10px;
    }
    .f-content-overlay img{
        height: 20px;
        width: 20px;
    }
}