* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.logo {
    padding-left: 120px;
}

#head-logo {
    width: 130px;
}

/* #head-logo:hover {
    transform: scale(1.1);
} */

/* Navigation Menu Styling */
.nav-options {
    width: 63vw;
    display: flex;
    gap: 30px;
    justify-content: end;
    align-items:start;
}

.nav-options a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    color: black;
    font-weight: 500;
    white-space: nowrap;
    padding: 5px 5px;
    transition: all 0.3s ease;
}

.nav-options a:hover {
    color: #32a852;
}

/* Dropdown Styling */
.dropdown {
    position: relative; /* Required for positioning the dropdown menu */
}
.dropdown a{
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f3f5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-menu li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #32a852;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);

}

.dropdown:not(:hover) .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
}

/* Login Button Styling */
.login {
    flex: 1;
    padding-left: 45px;
    display: flex;
    justify-content: start;
}

.login-button {
    width: 120px;
    padding: 8px 15px;
    background-color: #4DA167;
    color: white;
    font-size: 14px;
    border: 2px solid #4DA167;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: white;
    color: #32a852;
    border: 2px solid #32a852;
}
.login-button a{
    color: inherit;
    text-decoration: none;
}
.login-button:visited{
    color: inherit;
}


.body{
    padding-top: 50px ;
    padding-bottom: 50px;
}
.body img{
    border: 1px solid rgb(190, 190, 190);
}
.main{
    /* width: 100%; */
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.q-header{
    width: 86%;
    border-bottom: 1px solid grey ;
    font-family: "inter",sans-serif;
    font-size: 25px;
    color: #466876;
}

.q-content1{
    width: 86%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.qc1-sub2{
    display: flex;
    flex-direction: column;
    justify-content:end;
    gap: 20px;
}
.qc1-sub2 h3{
    font-family: "inter",sans-serif;
    color: #6abaaf;
    font-size: 25px;
    letter-spacing: 1px;
}
.qc1-sub2 p{
    font-family: "nunito sans",sans-serif;
    color: black;
    font-size: 17px;
    line-height: 30px;
    text-align: justify;
}
.qc1-sub1 img{
    height: 60vh;
}
.q-content2{
    padding-top: 60px;
    width: 86%;
    display: flex;
    flex-direction: column;
}
.qc2-sub1{
    padding-bottom: 50px;
}
.qc2-sub1 h2{
    padding-bottom: 50px;
    font-family: "inter",sans-serif;
    color: #466876;
    font-size: 35px;
    text-align: center;
}
.qc2-sub1 p{
    font-family: "nunito sans",sans-serif;
    color: black;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}
.qc2-sub2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.qc2-sub2 img{
    height: 60vh;
}

#mid-h2{
    padding-top: 50px;
    font-family: "inter",sans-serif;
    color: #466876;
    font-size: 35px;
    text-align: center;
}

.q-content3{
    padding-top: 80px;
    width: 86%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.qc3-sub1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.qc3-sub1-p{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}
.qc3-sub1 h3{
    font-family: "inter",sans-serif;
    color: #6abaaf;
    font-size: 25px;
    letter-spacing: 1px;
}
.qc3-sub1 p{
    padding-top: 10px;
    font-family: "nunito sans",sans-serif;
    color: black;
    font-size: 16px;
    line-height: 30px;
}
.qc3-sub1 ul {
    padding-left: 10px;
    font-family: "nunito sans", sans-serif;
    color: black;
    font-size: 16px;
    line-height: 30px;
    list-style-type: "- ";
}
.qc3-sub1-img{
    display:flex;
    justify-content: end;
}
.qc3-sub1 img{
    height: 45vh;
}
.qc3-sub2{
    display: flex;
    flex-direction: column;
}
.qc3-sub2 h3{
    font-family: "inter",sans-serif;
    color: #6abaaf;
    font-size: 25px;
    letter-spacing: 1px;
}
.qc3-sub2 p{
    padding-top: 20px;
    font-family: "nunito sans",sans-serif;
    color: black;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}
.qc3-sub3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.qc3-sub3 h3{
    font-family: "inter",sans-serif;
    color: #6abaaf;
    font-size: 25px;
    letter-spacing: 1px;
}
.qc3-sub3-p{
    padding-top: 20px;
}
.qc3-sub3 p{
    padding-top: 20px;
    font-family: "nunito sans",sans-serif;
    color: black;
    font-size: 16px;
    line-height: 30px;
}
.qc3-sub3 ul {
    padding-left: 10px;
    font-family: "nunito sans", sans-serif;
    color: black;
    font-size: 16px;
    line-height: 30px;
    list-style-type: "- ";
}
.qc3-sub3-img img{
    height: 45vh;
}
.q-content4{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 86%;
}
.qc4-sub1 h2{
    padding-bottom: 30px;
    font-family: "inter",sans-serif;
    color: #466876;
    font-size: 35px;
    text-align: center;
}
.qc4-sub1 p{
    font-family: "nunito sans",sans-serif;
    color: black;
    font-size: 16px;
    line-height: 30px;
    padding-top: 18px;
    padding-bottom: 60px;
    text-align: justify;
}
.qc4-sub2{
    display: flex;
    gap: 40px;
}
.qc4-sub2-p{
    padding-top: 40px;
}
.qc4-sub2 img{
    height: 50vh;
}
.qc4-sub2 h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "inter",sans-serif;
    color: #466876;
    font-size: 35px;
    text-align: center;
}
.qc4-sub2 ul{
    padding-left: 10px;
    font-family: "nunito sans", sans-serif;
    color: black;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    list-style-type: "- ";
    padding-top: 18px;
    padding-bottom: 60px;
}



footer{
    padding-top: 20px;
    padding-left: 80px;
    height: 35vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr .75fr 1fr .75fr;
    background-color: #e8ebe0;
}
.foot-logo{
    padding-top: 30px;
    height: 100%;
    display: flex;
    align-items: start  ;
    justify-content: center;
}
.foot-logo img{
    height: 20vh;
}

.fsection-2,.sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub{
    gap: 10px;
}
footer h3,footer h2{
    font-family: "blinker",sans-serif;
    letter-spacing: 0.5px;
    color: #6abaaf;
}
footer p{
    color: black;
}
.fsection-2{
    font-family:"Inter",sans-serif;
}
.fsection-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.quick-p{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}
.quick-p a{
    text-decoration: none;
    color: inherit;
    font-family:"Inter",sans-serif;
}
.quick-p:visited{
    color: inherit;
}
.followus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social{
    display: flex;
    gap: 10px;
}
.social img{
    height: 25px;
}
.quick a:visited{
    color: inherit;
    text-decoration: none;
}

.hide-header {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.6s ease, transform 0.6s ease;
}