* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.logo {
    padding-left: 120px;
}

#head-logo {
    width: 130px;
}

/* #head-logo:hover {
    transform: scale(1.1);
} */

/* Navigation Menu Styling */
.nav-options {
    width: 63vw;
    display: flex;
    gap: 30px;
    justify-content: end;
    align-items:start;
}

.nav-options a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    color: black;
    font-weight: 500;
    white-space: nowrap;
    padding: 5px 5px;
    transition: all 0.3s ease;
}

.nav-options a:hover {
    color: #32a852;
}

/* Dropdown Styling */
.dropdown {
    position: relative; /* Required for positioning the dropdown menu */
}
.dropdown a{
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f3f5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-menu li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #32a852;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);

}

.dropdown:not(:hover) .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
}

/* Login Button Styling */
.login {
    flex: 1;
    padding-left: 45px;
    display: flex;
    justify-content: start;
}

.login-button {
    width: 120px;
    padding: 8px 15px;
    background-color: #4DA167;
    color: white;
    font-size: 14px;
    border: 2px solid #4DA167;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: white;
    color: #32a852;
    border: 2px solid #32a852;
}
.login-button a{
    color: inherit;
    text-decoration: none;
}
.login-button:visited{
    color: inherit;
}