* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.header{
    position: sticky;
    height: 15vh;
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 6fr;
    gap: 40px;
    z-index:1;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: start;}
.logo img{
    height: 11vh;
    padding-bottom: 5px;
}
.nav-bar{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-family: "IBM Plex Sans",sans-serif;
    background-color: #36404d;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.hopt{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hopt a{
    height: 80%;
    width: 90%;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hopt a:hover{
    background-color: #6ca896;
    color: black;
    border-radius: 20px;
}

.dropdown {
    position: absolute;
    padding:10px ;
    gap: 5px;
    top: 105%;
    right: 50;
    background-color: #36404d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dropdown img{
    width: 20px;
}
.dropdown pre{
    font-family: "IBM Plex Sans", sans-serif;
}

.dropdown a:hover {
    background-color: #6ca896;
}

#h2:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*hidden header start*/
.header2 {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.header2{
    padding-top: 10px;
    height: 9vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #d1d1d1d1;
}
.header2:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav-bar2{
    width: 20vw;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    align-items: center;
    gap:50px ;
}
#logoh img{
    height: 5vh;
}
.hopt2 img{
    height: 5vh;
}

.hopt2{
    position: relative;
}

.dropdown2 {
    margin-top: 20px;
    position: absolute;
    padding:10px ;
    gap: 20px;
    background-color: #d1d1d1d1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.dropdown2 img{
    height: 3vh;
}
#h2:hover .dropdown2 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown21 {
    margin-top: 20px;
    position: absolute;
    padding:10px ;
    gap: 20px;
    background-color: #d1d1d1d1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.dropdown21 img{
    height: 3vh;
}
#h4:hover .dropdown21 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
/*hidden header end*/

/*Header End*/

.main{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 54.8vh;
}
.main-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    font-family: "Nunito Sans",sans-serif;
    font-size: 30px;
}

.sub-poster{
    height: 30vh;
    width: 70%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.sub-poster img{
    height: 10vh;
}

.solutions {
    padding-top:60px ;
    padding-bottom: 60px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #36404d
}

.solutions-head {
    padding-top: 50px;
    padding-bottom: 50px;
    align-self: center;
    color: #6ca896;
    font-family: "Blinker",sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}
.solutions-para{
    width: 80%;
    color: #D1D1D1;
    font-family: "Inter",sans-serif;
    font-size: 20px;
    word-spacing: 2px;
}
.solutions-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    width: 22.78vw;
    height: 48vh;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6ca896;
}

.card-front img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.card-back {
    transform: rotateY(180deg);
    padding: 20px;
    background-color: white;
}
.card-back p{
    font-family:"Inter",sans-serif;
    font-weight: 500;
    word-spacing: 1px;
    color: #36404d;
}

.impact{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.impact-head{
    /* color: #36404d; */
    align-self: center;
    padding-bottom: 45px;
    font-family: "Blinker",sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
}
.impact-banner {
    padding-top: 25px;
    padding-bottom: 30px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.impact-banner h1{
    color: #36404d;
    font-family:"courgette",sans-serif;
}
.impact-banner h3{
    color: #6ca896;
    font-style: italic;
    /* font-family:"Inter",sans-serif; */
}
.impact-banner p{
    color: #36404d;
    font-family:"Inter",sans-serif;
    font-weight: 350;
    word-spacing: 1px;
    padding-top: 10px;
    text-align: center;
    height: 9.6vh;
    width: 16.28vw;
}
.banner1,.banner2,.banner3,.banner4{
    padding-bottom: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner1,.banner2,.banner3{
    border-right:3px solid #f2f2f2;
    padding-right: 30px;
}
.banner2,.banner3,.banner4{
    padding-left: 10px;
}   

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-bottom: 50;
    border-radius: 10px;
    background-color: #36404d;
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.feature-head{
    color: #6ca896;
    padding-top: 10px;
    align-self: center;
    font-family: "Blinker",sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
}
.feature-content{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    padding-bottom: 20px;
}
.fcard{
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    border: 5px solid #6ca896;
    border-radius: 10px;
    background-color: white;
}

.trusted{
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.trusted h2{
    text-align: center;
    font-family: "Blinker",sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    color: #36404d;
}
.trust-icons{
    padding-top: 20px;
    width: 100%;
    padding-left: 70px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    align-items: center;
}
.trust-logo{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* background-color: #f8f8f8; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); */
}
#trust1 img{
    height: 13vh;
}
#trust2 img{
    height: 14vh;
}
#trust3 img{
    height: 18vh;
}
#trust4 img{
    height: 17vh;
}

.footer{
    padding-top: 20px;
    height: 40vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    background-color: #36404d;
}
.foot-logo{
    padding-top: 30px;
    height: 100%;
    display: flex;
    align-items: start  ;
    justify-content: center;
}
.foot-logo img{
    height: 20vh;
}

.fsection-2,.sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub{
    gap: 10px;
}
.footer h3,.footer h2{
    font-family: "blinker",sans-serif;
    letter-spacing: 0.5px;
    color: #6ca896;
}
.footer p{
    color: white;
}
.fsection-2{
    font-family:"Inter",sans-serif;
}
.fsection-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.quick-p{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}
.quick-p a{
    text-decoration: none;
    color: inherit;
    font-family:"Inter",sans-serif;
}
.quick-p:visited{
    color: inherit;
}
.followus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social{
    display: flex;
    gap: 10px;
}
.social img{
    height: 25px;
}
