* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

/* Logo Styling */
.logo {
    /* flex: 1; */
    padding-left: 90px;
    padding-right: 40px;
}

#head-logo {
    width: 130px;
}

/* #head-logo:hover {
    transform: scale(1.1);
} */

/* Navigation Menu Styling */
.nav-options {
    padding-left: 520px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items:start ;
}

.nav-options a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    color: #333; /* Adjusted color to match the white background */
    font-weight: 500;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.nav-options a:hover {
    color: #32a852;
}
#highlight{
    color: #32a852;
}

/* Dropdown Styling */
.dropdown {
    position: relative; /* Required for positioning the dropdown menu */
}
.dropdown a{
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f3f5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-menu li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #32a852;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);

}

.dropdown:not(:hover) .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
}

/* Login Button Styling */
.login {
    flex: 1;
    padding-right:90px ;
    display: flex;
    justify-content: end;
}

.login-button {
    width: 120px;
    padding: 8px 15px;
    background-color: #4DA167;
    color: white;
    font-size: 14px;
    border: 2px solid #4DA167;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: white;
    color: #32a852;
    border: 2px solid #32a852;
}
.login-button a{
    color: inherit;
    text-decoration: none;
}
.login-button:visited{
    color: inherit;
}


.body{
    max-width: 88%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-1{
    display: flex;
    gap: 20px;
}
.cont1-img img{
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.cont1-txt{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:start;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.cont1-txt h1{
    font-family: "inter",sans-serif;
    color: #466876;
    font-size: 35px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.cont1-txt h2{
    font-family: "inter",sans-serif;
    color: #6abaaf;
    font-size: 25px;
}
.cont1-txt p{
    font-size: 17px;
    font-family: "inter",sans-serif;
    font-weight: 350;
    /* letter-spacing: 1px; */
    line-height: 30px;
    word-spacing: 2px;
    border-radius: 10px;
    text-align: start;
}

.content-2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: #f2f3f5;
    border-radius: 10px;
}
ul{
    list-style-position: inside;
}
.content-2 h1{
    font-family: "inter",sans-serif;
    color: #466876;
    font-size: 35px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.content-2 h3{
    font-family: "inter",sans-serif;
    color: #6abaaf;
    font-size: 25px;
}
.content-2 p{
    font-size: 17px;
    font-family: "inter",sans-serif;
    font-weight: 350;
    /* letter-spacing: 1px; */
    line-height: 30px;
    word-spacing: 2px;
    border-radius: 10px;
    text-align: start;
}
.content-2 li{
    font-size: 17px;
    font-family: "inter",sans-serif;
    font-weight: 350;
    /* letter-spacing: 1px; */
    line-height: 30px;
    word-spacing: 2px;
    border-radius: 10px;
    text-align: start;
}

.content-3{
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.content-3 h1{
    font-family: "inter",sans-serif;
    color: #466876;
    font-size: 35px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.content-3sub{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.part-1 h1,.part-2 h1,.part-3 h1{
    font-family: "inter",sans-serif;
    color: #6abaaf;
    font-size: 35px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.part-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.part-1txt{
    /* height: 292.4px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.part-1txt p{
    font-size: 17px;
    font-family: "inter",sans-serif;
    font-weight: 350;
    /* letter-spacing: 1px; */
    line-height: 30px;
    word-spacing: 2px;
    border-radius: 10px;
    text-align: center;
}
.part-1img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}

.part-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.part-2txt{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.part-2txt p{
    font-size: 17px;
    font-family: "inter",sans-serif;
    font-weight: 350;
    /* letter-spacing: 1px; */
    line-height: 30px;
    word-spacing: 2px;
    border-radius: 10px;
    text-align: center;
}
.part-2img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.part-3txt{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.part-3txt p{
    font-size: 17px;
    font-family: "inter",sans-serif;
    font-weight: 350;
    /* letter-spacing: 1px; */
    line-height: 30px;
    word-spacing: 2px;
    border-radius: 10px;
    text-align: center;
}
.part-3img{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    padding-top: 20px;
    padding-left: 40px;
    height: 35vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr .75fr 1fr .75fr;
    background-color: #e8ebe0;
}
.foot-logo{
    padding-top: 30px;
    height: 100%;
    display: flex;
    align-items: start  ;
    justify-content: center;
}
.foot-logo img{
    height: 20vh;
}

.fsection-2,.sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub{
    gap: 10px;
}
footer h3,footer h2{
    font-family: "blinker",sans-serif;
    letter-spacing: 0.5px;
    color: #6abaaf;
}
footer p{
    color: black;
}
.fsection-2{
    font-family:"Inter",sans-serif;
}
.fsection-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.quick-p{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}
.quick-p a{
    text-decoration: none;
    color: inherit;
    font-family:"Inter",sans-serif;
}
.quick-p:visited{
    color: inherit;
}
.followus{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social{
    display: flex;
    gap: 10px;
}
.social img{
    height: 25px;
}
.quick a:visited{
    color: inherit;
    text-decoration: none;
}

.hide-header {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.6s ease, transform 0.6s ease;
}